body {
    background-image: url(../images/water.jpeg);
    background-size: 100vh, 100vw;
    background-attachment:flex;
}
header {
    font-family: 'Poiret One', cursive;
    font-size: 3rem;
    color: #f3b15b;
    text-shadow:
    3px 3px 0 #4e575c,
    -1px -1px 0 #4e575c,  
    1px -1px 0 #4e575c,
    -1px 1px 0 #4e575c,
    1px 1px 0 #4e575c;
}
.wrapper {
    width: 1040px;
    margin: 0 auto;
    text-align: center;
}

.searchContainer {
    width: 30%;
    border: 3px solid #f3b15b;
    border-radius: 10px;
    font-family: 'Poiret One', cursive;
    font-size: 1.5rem;
    float: left;
    margin-bottom: 50px;
}
button.gifButtons, .select-character {
    padding: 5px;
    margin: 5px;
    border: 2px solid #4e575c;
    border-radius: 10px;
    background-color: #f3b15b;
    font-family: 'Poiret One', cursive;
    font-size: 1.25rem;
}
input {
    border: 1px solid #4e575c;
    border-radius: 10px;
    padding: 5px;
}
#searchHeader {
    padding: 10px;
    border-radius: 9px 9px 0 0 ;
    font-size: 2rem;
    background-color: #31405f;  
    color: #f3b15b;
}

#resultsHeader, #resultsBody {
    font-family: 'Poiret One', cursive;
    width: 60%;
    border: 3px solid #f3b15b;
    border-radius: 10px;
    float: right;
    margin-bottom: 25px;
    padding: 20px;
}

#resultsHeader{
    border-radius: 9px;
    font-size: 2rem;
    background-color: #31405f;  
    color: #f3b15b;
    padding: 10px 20px 10px 20px;
}
    
#resultsBody, #forms {
    background-color:#31405f;
    color: #e8eff1;
    padding-bottom: 15px;
    border-radius: 0 0 9px 9px;
}

#resultsBody {
    border-radius: 9px;
    overflow-y: auto;
    height: 535px;
}

img{
    width: 45%;
}



